<div class="intContAncho">
    <div class="contenido">

        <div>
            <div class="logoDnsisa" [routerLink]="['']">
                <h5>DIRECCIÓN NACIONAL DE</h5>
                <h4>SISTEMAS DE INFORMACIÓN SANITARIA</h4>
            </div>
        </div>
        
        <!-- <div>otra cosa</div> -->
        
        <div>
            <DNSISa-com-ele-boton
                [input]="['boton', 'general', 'acceder', 'Iniciar sesión']"        
            >
            </DNSISa-com-ele-boton>
        </div>
        
    
    </div>
</div>
