<div class="intContAncho">
    <div class="contenido">
        
        <div>
            <h2>Contacto</h2>
            <p>
                <strong>Dirección</strong>: Av. 9 de Julio 1925 - Piso 9 - CABA

            </p>
            <p>
                <strong>Código postal</strong>: C1073ABA
            </p>
            <p>
                <strong>Teléfono</strong>: 54 11 4379 9000 INT: 4797
            </p>
            <p>
                <strong>Correo electrónico</strong>: privadadnsisa@msal.gov.ar
            </p>
        </div>

        <div>una cosa</div>

        <div>
            <img src="../../../../assets/img/logo_presidencia_pl.png" alt="presidencia">
        </div>

        <div>
            
            <div>
                <!-- <span class="icon-logo_msal msal"></span> -->
                <img src="../../../../assets/img/logo_msal_pl.png" alt="sisa">
            </div>
        </div>
        
    
    </div>
</div>