<h1>Formulario de Creación de Repositorios y Aplicaciones</h1>

<form [formGroup]="formulario" class="formContenedor">


    <div class="HOR seccion1">
        
        <div class="VER">
            <!-- Información del Proyecto    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
            <section>
                <h2>Información del Proyecto</h2>            
                <!-- Nombre del Proyecto   []   -->       
                <div class="VER">
                
                    <div>
                        <mat-form-field>
                            <mat-label>Nombre del Proyecto</mat-label>
                            <input 
                                matInput #inputTitulo
                                formControlName="fb_inf_repo_nombre" 
                                minlength="6" maxlength="100" 
                                placeholder="Nombre del Proyecto"  
                            >
                            <mat-hint align="end">{{inputTitulo.value.length}}/100</mat-hint>
                        </mat-form-field>
                    </div>      
                        <!-- 
                            <p>Descripción del Proyecto</p>
                            [Breve descripción de la aplicación y sus funcionalidades] 
                        -->
                        
                    <div>
                        <mat-form-field hintLabel="Breve descripción de la aplicación y sus funcionalidades">
                            <mat-label>Descripción del Proyecto</mat-label>
                            <textarea 
                                matInput #inputDescripcion
                                formControlName="fb_inf_pr_descripcion" 
                                maxlength="2000" 
                                matAutosizeMinRows=3
                                placeholder="Ingrese la descripción de la configuración"                          
                                type="text" 
                                
                            ></textarea><!-- (keyup)="registroDetalleActualiza(registro, $event.target.value)" -->
                            <mat-hint align="end">{{inputDescripcion.value.length}}/2000</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </section>

            <!-- Repositorio    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
            <section class="repoInput">
                <h2>Repositorio</h2>            
                <!-- Nombre del Proyecto   []   -->       
                <div class="HOR">
                
                    <div>
                        <mat-form-field>
                            <mat-label>Nombre del repositorio</mat-label>
                            <input 
                                matInput #inputTitulo
                                formControlName="fb_inf_repo_nombre" 
                                minlength="6" maxlength="20" 
                                placeholder="Repositorio"  
                            >
                            <mat-hint align="end">{{inputTitulo.value.length}}/20</mat-hint>
                        </mat-form-field>
                    </div> 
                    <div>
                        <mat-form-field>
                            <mat-label>Grupo del repositorio</mat-label>
                            <mat-select 
                                formControlName="fb_inf_repo_grupo" 
                            >
                                <mat-option 
                                    *ngFor="let grupoRepo of ta_repo_grupo" 
                                    [value]="grupoRepo"
                                >
                                    {{grupoRepo}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- 
                        <mat-form-field>
                            <mat-label>URL del repositorio</mat-label>
                            <input 
                                matInput #inputTitulo
                                formControlName="fb_inf_repo_url" 
                                minlength="6" maxlength="100" 
                                placeholder="URL"  
                            >
                            <mat-hint align="end">{{inputTitulo.value.length}}/100</mat-hint>
                        </mat-form-field>
                        -->
                    </div> 
                </div>
            </section>
        </div>
        

        <!-- Tecnología    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <section>
            <h2>Tecnología</h2>
            
            <div>

                <div class="VER">
                    
                    <div>
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button 
                                *ngFor="let tipo of ta_tec_tipo" 
                                [value]="tipo"
                                (change)="radioSelecciona(tipo, 'tecnoTipo')"
                            >{{tipo}}</mat-radio-button>
                          </mat-radio-group>
                    </div>
                    <div *ngIf="formSecciones.tecnoTipo === 'Aplicación web' || formSecciones.tecnoTipo === 'APIs'">
                        <mat-form-field>
                            <mat-label>Java</mat-label>
                            <mat-select 
                                formControlName="fb_tec_leng_java" 
                            >
                            <!-- 
                                formControlName="fb_provincia" placeholder="seleccione la provincia"
                                [disabled]="!$any(campos).fb_provincia.editable"
                                    (click)="formularioAcciona('PROVINCIA', provincia.id)"
                            -->
                                <mat-option 
                                    *ngFor="let java of ta_tec_leng.Java" 
                                    [value]="java"
                                >
                                    {{java}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>                
                    <div *ngIf="formSecciones.tecnoTipo === 'Aplicación web' || formSecciones.tecnoTipo === 'APIs'">
                        <mat-form-field>
                            <mat-label>PHP</mat-label>
                            <mat-select 
                                formControlName="fb_tec_leng_php" 
                            >
                            <!-- 
                                formControlName="fb_provincia" placeholder="seleccione la provincia"
                                [disabled]="!$any(campos).fb_provincia.editable"
                                    (click)="formularioAcciona('PROVINCIA', provincia.id)"
                            -->
                                <mat-option 
                                    *ngFor="let provincia of ta_tec_leng.PHP" 
                                    [value]="provincia"
                                >
                                    {{provincia}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>                
                    <div *ngIf="formSecciones.tecnoTipo === 'Aplicación web'">
                        <mat-form-field>
                            <mat-label>Node JS</mat-label>
                            <mat-select 
                                formControlName="fb_tec_leng_node" 
                            >
                            <!-- 
                                formControlName="fb_provincia" placeholder="seleccione la provincia"
                                [disabled]="!$any(campos).fb_provincia.editable"
                                    (click)="formularioAcciona('PROVINCIA', provincia.id)"
                            -->
                                <mat-option 
                                    *ngFor="let provincia of ta_tec_leng.Node" 
                                    [value]="provincia"
                                >
                                    {{provincia}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div *ngIf="formSecciones.tecnoTipo === 'Aplicación web' || formSecciones.tecnoTipo === 'APIs'">
                    <mat-form-field>
                        <mat-label>Frameworks utilizados</mat-label>
                        <textarea 
                            matInput #inputDescripcion
                            formControlName="fb_tec_leng_frameworks" 
                            maxlength="2000" 
                            matAutosizeMinRows=3
                            placeholder="Listado de frameworks utilizados"                        
                            type="text" 
                            
                        ></textarea><!-- (keyup)="registroDetalleActualiza(registro, $event.target.value)" -->
                        <mat-hint align="end">{{inputDescripcion.value.length}}/2000</mat-hint>
                    </mat-form-field>
                </div>

            </div>
        </section>

    </div>



    <!-- Información de la Aplicación    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <section class="seccion2">
        <h2>Información de la Aplicación</h2>            
        <!-- Nombre del Proyecto   []   -->       
        <div class="HOR">
        
            <div class="urlPrincipal">
                <mat-form-field>
                    <mat-label>URL principal de la aplicación</mat-label>
                    <input 
                        matInput #inputTitulo
                        formControlName="fb_inf_repo_nombre" 
                        minlength="6" maxlength="30" 
                        placeholder="Repositorio"  
                    >
                    <mat-hint align="end">{{inputTitulo.value.length}}/30</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="VER">
        
            <div class="endPointAdicionales" *ngFor="let endPoint of endPoints; index as i">    
                <div>
                    <mat-form-field>
                        <mat-label>Descripción</mat-label>
                        <input 
                            matInput #inputTitulo                            
                            minlength="6" maxlength="100" 
                            placeholder="Repositorio"  
                        ><!-- formControlName="fb_inf_repo_nombre"  -->
                        <mat-hint align="end">{{inputTitulo.value.length}}/100</mat-hint>
                    </mat-form-field>
                </div>
                <div>
                    
                    <ul class="HOR">
                          <li *ngFor="let endPoint of ta_endpoints">
                            <mat-checkbox><!--  [checked]="subtask.completed" -->
                                {{endPoint}}
                            </mat-checkbox>
                        </li>
                    </ul>
                </div> 
                <div>           
                    <DNSISa-com-ele-boton
                        [input]="['accionDeLista', 'negativo', 'cancelar', null]"  
                        (click)="endPointEliminar(i)"      
                    >
                    </DNSISa-com-ele-boton>
                </div>            
            </div> 
            
            <div class="ut_botonera">
                <DNSISa-com-ele-boton
                    [input]="['boton', 'positivo', 'agregar', 'Agregar EndPoint']"  
                    (click)="endPointAgregar()"      
                >
                </DNSISa-com-ele-boton> 
            </div> 
        </div>
        <!-- <p>endPoints {{endPoints|json}}</p> -->
    </section>

        

    <!-- Servicios que Consumirá la Aplicación    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <section class="seccion3">
        <h2>Servicios que consumirá la aplicación</h2>            
        <!-- Nombre del Proyecto   []   -->      
            
        
        <div class="HOR servicios">
            
            <div>
                <div>
                    <mat-slide-toggle (change)="checkSelecciona($event.checked, 'backends')" [checked]="formSecciones.backends">
                        Backends
                    </mat-slide-toggle>
                </div>
                <div *ngIf="formSecciones.backends">
                    <mat-form-field>
                        <mat-label>Descripción del backend que la aplicación consumirá</mat-label>
                        <textarea 
                            matInput #inputDescripcion
                            formControlName="fb_tec_leng_frameworks" 
                            maxlength="2000" 
                            matAutosizeMinRows=3
                            placeholder="Listado de frameworks utilizados"                        
                            type="text" 
                            
                        ></textarea><!-- (keyup)="registroDetalleActualiza(registro, $event.target.value)" -->
                        <mat-hint align="end">{{inputDescripcion.value.length}}/2000</mat-hint>
                    </mat-form-field>
                </div>
            </div>   
            <div>
                   
                <div>
                    <mat-slide-toggle (change)="checkSelecciona($event.checked, 'apis')" [checked]="formSecciones.apis">
                        APIs Externas
                    </mat-slide-toggle>
                </div>
                <div *ngIf="formSecciones.apis">
                    <mat-form-field>
                        <mat-label>Descripción de las APIs externas que se consumirán</mat-label>
                        <textarea 
                            matInput #inputDescripcion
                            formControlName="fb_tec_leng_frameworks" 
                            maxlength="2000" 
                            matAutosizeMinRows=3
                            placeholder="Listado de frameworks utilizados"                        
                            type="text" 
                            
                        ></textarea><!-- (keyup)="registroDetalleActualiza(registro, $event.target.value)" -->
                        <mat-hint align="end">{{inputDescripcion.value.length}}/2000</mat-hint>
                    </mat-form-field>
                </div>
            </div>   
            <div>
                  
                <div>
                    <mat-slide-toggle (change)="checkSelecciona($event.checked, 'dbs')" [checked]="formSecciones.dbs">
                        Bases de Datos
                    </mat-slide-toggle>
                </div>
                <div *ngIf="formSecciones.dbs">
                    <mat-form-field>
                        <mat-label>Tipo de Base de Datos</mat-label>
                        <mat-select 
                            formControlName="fb_serv_db" 
                        >
                            <mat-option 
                                *ngFor="let db of ta_serv_db" 
                                [value]="db"
                                (click)="dbSelecciona(db)"
                            >
                                {{db}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> 
                <div *ngIf="formSecciones.dbsOtro">
                    <mat-form-field hintLabel="hintLabel Max 20 letras">
                        <mat-label>Nombre de la Base de Datos</mat-label>
                        <input 
                            matInput
                            formControlName="fb_serv_db_otro" 
                            placeholder="Detalle"  
                        >
                    </mat-form-field>
                </div> 
                
            </div>   
            <div>
                   
                <div>
                    <mat-slide-toggle (change)="checkSelecciona($event.checked, 'caches')" [checked]="formSecciones.caches">
                        Caches
                    </mat-slide-toggle>
                </div>  
                <div *ngIf="formSecciones.caches">
                    <mat-form-field>
                        <mat-label>Descripción del sistema de caché</mat-label>
                        <textarea 
                            matInput #inputDescripcion
                            formControlName="fb_tec_leng_frameworks" 
                            maxlength="2000" 
                            matAutosizeMinRows=3
                            placeholder="Listado de frameworks utilizados"                        
                            type="text" 
                            
                        ></textarea><!-- (keyup)="registroDetalleActualiza(registro, $event.target.value)" -->
                        <mat-hint align="end">{{inputDescripcion.value.length}}/2000</mat-hint>
                    </mat-form-field>
                </div>
            </div>  

        </div>
    </section> 
    
        

    <!-- Servicios que Consumirá la Aplicación    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <section class="seccion4">
        <h2>Información de Despliegue</h2>            
        <!-- 
         <h3>Información de Despliegue</h3>
            
            <p>Ambiente de Despliegue</p>            
            [ ] Desarrollo            
            [ ] QA            
            [ ] Producción            
            [ ] Otros: []
            
            URL de Despliegue
            []        
        -->      
            
        <div class="VER">
            <div class="HOR ut_fl_hor_centro">
                <div>
                    <p>Ambiente<br>de despliegue</p>
                </div>
                <div>
                    
                    <ul class="ut_listaHorizontal">
                        <li *ngFor="let ambiente of ta_despliegue">
                            <mat-checkbox
                            (click)="eventoCaptura($event, 'ambienteDespliegue', ambiente )"
                            ><!--  [checked]="subtask.completed" -->
                                {{ambiente}}
                            </mat-checkbox>
                        </li>
                    </ul>
                </div>
                <div class="inputTexto" *ngIf="formSecciones.ambienteDespliegueOtro">
                    <mat-form-field>
                        <mat-label>Nombre del ambiente de despliegue</mat-label>
                        <input 
                            matInput #inputTitulo
                            formControlName="fb_inf_repo_nombre" 
                            minlength="6" maxlength="30" 
                            placeholder="Nombre"  
                        >
                        <!-- <mat-hint align="end">{{inputTitulo.value.length}}/30</mat-hint> -->
                    </mat-form-field>           
                </div>  
            </div>

            <!-- 
            <div class="HOR ut_fl_hor_centro">                
                <div>
                    <p>URL<br>del despliegue</p>            
                </div> 
                <div class="inputTexto">
                    <mat-form-field>
                        <mat-label>Url</mat-label>
                        <input 
                            matInput #inputTitulo
                            formControlName="fb_inf_repo_nombre" 
                            minlength="6" maxlength="100" 
                            placeholder="url"  
                        >
                    </mat-form-field>               
                </div> 
            </div>
            -->

        </div>
    </section> 

    

    <!-- Responsables del Proyecto    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <section class="seccion5">
        <h2>Responsables del Proyecto</h2>     
        <!--  
            Owner/Product Manager/Product Owner
            Nombre: []
            Contacto: []

            Desarrollador(es) Principal(es)
            Nombre: []
            Contacto: []

            Otros Involucrados (QA, DevOps, etc.)
            Nombre: []
            Rol: []
            Contacto: []
        -->
        <div class="HOR responsables">
            <div>
                <h3>Owner/Product Manager/<br>Product Owner</h3>
                <div>
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input 
                            matInput #inputTitulo
                            formControlName="fb_inf_repo_nombre" 
                            minlength="6" maxlength="30" 
                            placeholder="Nombre"  
                        >
                    </mat-form-field>           
                </div> 
                <div>
                    <mat-form-field>
                        <mat-label>Contacto</mat-label>
                        <input 
                            matInput #inputTitulo
                            formControlName="fb_inf_repo_nombre" 
                            minlength="6" maxlength="30" 
                            placeholder="Contacto"  
                        >
                    </mat-form-field>           
                </div>  
            </div>
            <div>
                <h3>Desarrollador(es)<br>Principal(es)</h3>
                <div>
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input 
                            matInput #inputTitulo
                            formControlName="fb_inf_repo_nombre" 
                            minlength="6" maxlength="30" 
                            placeholder="Nombre"  
                        >
                    </mat-form-field>           
                </div> 
                <div>
                    <mat-form-field>
                        <mat-label>Contacto</mat-label>
                        <input 
                            matInput #inputTitulo
                            formControlName="fb_inf_repo_nombre" 
                            minlength="6" maxlength="30" 
                            placeholder="Contacto"  
                        >
                    </mat-form-field>           
                </div>  
            </div>
            <div>
                <h3>Otros Involucrados<br>(QA, DevOps, etc.)</h3>
                <div>
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input 
                            matInput #inputTitulo
                            formControlName="fb_inf_repo_nombre" 
                            minlength="6" maxlength="30" 
                            placeholder="Nombre"  
                        >
                    </mat-form-field>           
                </div> 
                <div>
                    <mat-form-field>
                        <mat-label>Rol</mat-label>
                        <input 
                            matInput #inputTitulo
                            formControlName="fb_inf_repo_nombre" 
                            minlength="6" maxlength="30" 
                            placeholder="Rol"  
                        >
                    </mat-form-field>           
                </div> 
                <div>
                    <mat-form-field>
                        <mat-label>Contacto</mat-label>
                        <input 
                            matInput #inputTitulo
                            formControlName="fb_inf_repo_nombre" 
                            minlength="6" maxlength="30" 
                            placeholder="Contacto"  
                        >
                    </mat-form-field>           
                </div>  
            </div>
        </div>
        
    </section> 

    <!-- Permisos Necesarios    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <section class="seccion6">
        <h2>Permisos Necesarios</h2>            
        <!-- 
        
        
            <h3>Permisos Necesarios</h3>
            
            <p>Acceso a Git</p>            
            Usuarios y sus permisos (lectura/escritura):              
            
            <p>Acceso a OpenShift</p>
            Usuarios y permisos:
            
            
            <p>Consumo de Servicios</p>            
            Acceso a través de 3scale o Rutas Públicas
            Tipo de acceso:
            
            [ ] 3scale            
            [ ] Rutas públicas
            
            <p>Storage</p>            
            Requiere Storage Local
            [ ] Sí            
            [ ] No
            
            <p>Comentarios Adicionales</p>            
            [Espacio para agregar cualquier información adicional relevante]
        
        -->      
            
        <div class="VER">
            <div class="HOR campos">
                  
                <div>           
                    <mat-form-field>
                        <mat-label>Acceso a Git</mat-label>
                        <textarea 
                            matInput #inputDescripcion
                            formControlName="fb_inf_pr_descripcion" 
                            maxlength="2000" 
                            rows="6"
                            placeholder="Usuarios y sus permisos (lectura/escritura)"                          
                            type="text" 
                            
                        ></textarea><!-- (keyup)="registroDetalleActualiza(registro, $event.target.value)" -->
                        <mat-hint align="end">{{inputDescripcion.value.length}}/2000</mat-hint>
                    </mat-form-field>
                </div>   
                    
                <div>           
                    <mat-form-field>
                        <mat-label>Acceso a OpenShift</mat-label>
                        <textarea 
                            matInput #inputDescripcion
                            formControlName="fb_inf_pr_descripcion" 
                            maxlength="2000" 
                            rows="6"
                            placeholder="Usuarios y sus permisos"                          
                            type="text" 
                            
                        ></textarea><!-- (keyup)="registroDetalleActualiza(registro, $event.target.value)" -->
                        <mat-hint align="end">{{inputDescripcion.value.length}}/2000</mat-hint>
                    </mat-form-field>
                </div>   
                <div>
                    <h3>Consumo de Servicios</h3>            
                    <p>Acceso a través de 3scale o Rutas Públicas</p>
                    <mat-radio-group>
                        <mat-radio-button class="example-radio-button" (click)="eventoCaptura($event, 'consumoServicios')" value="3scale">3scale</mat-radio-button>
                        <mat-radio-button class="example-radio-button" (click)="eventoCaptura($event, 'consumoServicios')" value="Rutas públicas">Rutas públicas</mat-radio-button>             
                    </mat-radio-group>
                    
                    <h3>Storage</h3>    
                    <div>
                        <mat-slide-toggle (change)="checkSelecciona($event.checked, 'backends')" [checked]="formSecciones.backends">
                            Requiere storage local
                        </mat-slide-toggle>
                    </div>
                </div>   

            </div>
        </div>
        <div>            
            <mat-form-field>
                <mat-label>Comentarios adicionales</mat-label>
                <textarea 
                    matInput #inputDescripcion
                    formControlName="fb_inf_pr_descripcion" 
                    maxlength="2000" 
                    rows="6"
                    placeholder="Ingrese la descripción de cualquier información adicional relevante"                          
                    type="text" 
                    
                ></textarea><!-- (keyup)="registroDetalleActualiza(registro, $event.target.value)" -->
                <mat-hint align="end">{{inputDescripcion.value.length}}/2000</mat-hint>
            </mat-form-field>
        </div>
    </section> 
</form>

<div class="ut_botonera">
    
    <DNSISa-com-ele-boton
        [input]="['boton', 'positivo', 'aceptar', 'Enviar requerimientos']"        
    >
    </DNSISa-com-ele-boton>
   <!--  <div 
        class="boton"
        [routerLink]="['']" 
    >
    Enviar datos
    </div> -->
</div>



