<h1>Formulario de Creación de Repositorios y Aplicaciones</h1>

<div class="formContenedor">
    <div>


        
        
            <h2>Información del Proyecto</h2>
            
            Nombre del Proyecto
            []
            
            <p>Descripción del Proyecto</p>
            
            [Breve descripción de la aplicación y sus funcionalidades]
            
            <p>Tecnología</p>
            
            Lenguaje de Programación
            [ ] Java
            
            Versión:
            
            [ ] 17
            
            [ ] 21
            
            [ ] PHP
            
            Versión:
            
            [ ] 8.2
            
            [ ] Node.js
            
            Versión:
            
            [ ] 18
            
            [ ] 20
            
            [ ] Otro:
            
            Especificar: []
            
            <p>Frameworks Utilizados (si aplica)</p>
            
            []
            
            <p></p>
            Repositorio
            Nombre del Repositorio
            []
            
            URL del Repositorio (si existe)
            []
            
            <p></p>
            Información de la Aplicación
            URL Principal de la Aplicación
            []
            
            <p></p>
            Endpoints de la Aplicación
            [Agregar los endpoints de la API]
            
            Endpoint: []
            
            <p></p>
            Método: [GET/POST/PUT/DELETE]
            
            Descripción: []
            
            Endpoint: []
            
            Método: [GET/POST/PUT/DELETE]
            
            Descripción: []
            [Añadir más si es necesario]
            
            <h2>Servicios que Consumirá la Aplicación</h2>
            

            
            <p>Backends</p>
            
            [Descripción del backend que la aplicación consumirá]
            
            <p>APIs Externas</p>
            
            [Descripción de las APIs externas que se consumirán]
            
            <p>Bases de Datos</p>
            
            Tipo de Base de Datos:
            
            [ ] MySQL
            
            [ ] Oracle
            
            [ ] PostgreSQL
            
            [ ] Otro: []
            
            Nombre de la Base de Datos:
            
            []
            
            
            <p>Caches</p>
            
            Utilizará un sistema de caché:
            
            [ ] Sí
            
            [ ] No
            
            Descripción del sistema de caché (si aplica):
            
            []
            

            <h3>Información de Despliegue</h3>
            
            <p>Ambiente de Despliegue</p>
            
            [ ] Desarrollo
            
            [ ] QA
            
            [ ] Producción
            
            [ ] Otros: []
            
            URL de Despliegue
            []
            
            <h3>Responsables del Proyecto</h3>
            
            <p>Owner/Product Manager/Product Owner</p>
            
            Nombre: []
            
            Contacto: []
            
            <p>Desarrollador(es) Principal(es)</p>
            
            Nombre: []
            
            Contacto: []
            
            Otros Involucrados (QA, DevOps, etc.)
            Nombre: []
            
            Rol: []
            
            Contacto: []
            
            <h3>Permisos Necesarios</h3>
            
            <p>Acceso a Git</p>
            
            Usuarios y sus permisos (lectura/escritura):
            
            
            
            
            <p>Acceso a OpenShift</p>
            Usuarios y permisos:
            
             
            
            <p>Consumo de Servicios</p>
            
            Acceso a través de 3scale o Rutas Públicas
            Tipo de acceso:
            
            [ ] 3scale
            
            [ ] Rutas públicas
            
            <p>Storage</p>
            
            Requiere Storage Local
            [ ] Sí
            
            [ ] No
            
            <p>Comentarios Adicionales</p>
            
            [Espacio para agregar cualquier información adicional relevante]
    </div>

    <div>
        <div 
            class="boton"
            [routerLink]="['']" 
        >
        Enviar datos
        </div>
    </div>
</div>



