.formContenedor{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formContenedor > div:first-child{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .05);   
    border: 1px solid rgba(0, 0, 0, .2);
}

.formContenedor > div:first-child > div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;   
    /* border: 1px solid rgba(0, 0, 0, .2); */
}

.formContenedor > *:last-child{
    display: flex;
    align-self: flex-end;
}


.formContenedor .seccion > h2{ margin-top: 0px; }

.formContenedor .seccion > div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.formContenedor .seccion > div.HOR{ flex-direction: row; }
.formContenedor .seccion > div.VER{ flex-direction: column; }