<h1>Formulario de Creación de Repositorios y Aplicaciones</h1>

<form [formGroup]="formulario" class="formContenedor">
    <div>


        <!-- Información del Proyecto    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <div class="seccion">
            <h2>Información del Proyecto</h2>            
            <!-- Nombre del Proyecto   []   -->       
            <div>
            
                <div>
                    <mat-form-field hintLabel="hintLabel Max 20 letras">
                        <mat-label>Nombre del Proyecto</mat-label>
                        <input 
                            matInput #inputTitulo
                            formControlName="Nombre del Proyecto" 
                            minlength="6" maxlength="100" 
                            placeholder="Nombre del Proyecto"  
                        >
                        <mat-hint align="end">{{inputTitulo.value.length}}/100</mat-hint>
                    </mat-form-field>
                </div>      
                    <!-- 
                        <p>Descripción del Proyecto</p>
                        [Breve descripción de la aplicación y sus funcionalidades] 
                    -->
                 
                <div>
                    <mat-form-field hintLabel="Breve descripción de la aplicación y sus funcionalidades">
                        <mat-label>Descripción del Proyecto</mat-label>
                        <textarea 
                            matInput #inputDescripcion
                            formControlName="fb_inf_pr_descripcion" 
                            maxlength="2000" 
                            matAutosizeMinRows=3
                            placeholder="Ingrese la descripción de la configuración"                          
                            type="text" 
                            
                        ></textarea><!-- (keyup)="registroDetalleActualiza(registro, $event.target.value)" -->
                        <mat-hint align="end">{{inputDescripcion.value.length}}/2000</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>


        <!-- Tecnología    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <div class="seccion">
            <h2>Tecnología</h2>
            
            <div>

                <div class="COL">
                    <div>
                        <mat-form-field>
                            <mat-label>Java</mat-label>
                            <mat-select 
                                formControlName="fb_tec_leng_java" 
                            >
                            <!-- 
                                formControlName="fb_provincia" placeholder="seleccione la provincia"
                                [disabled]="!$any(campos).fb_provincia.editable"
                                    (click)="formularioAcciona('PROVINCIA', provincia.id)"
                            -->
                                <mat-option 
                                    *ngFor="let java of ta_tec_leng.Java" 
                                    [value]="java"
                                >
                                    {{java}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>                
                    <div>
                        <mat-form-field>
                            <mat-label>PHP</mat-label>
                            <mat-select 
                                formControlName="fb_tec_leng_php" 
                            >
                            <!-- 
                                formControlName="fb_provincia" placeholder="seleccione la provincia"
                                [disabled]="!$any(campos).fb_provincia.editable"
                                    (click)="formularioAcciona('PROVINCIA', provincia.id)"
                            -->
                                <mat-option 
                                    *ngFor="let provincia of ta_tec_leng.PHP" 
                                    [value]="provincia"
                                >
                                    {{provincia}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>                
                    <div>
                        <mat-form-field>
                            <mat-label>Node JS</mat-label>
                            <mat-select 
                                formControlName="fb_tec_leng_node" 
                            >
                            <!-- 
                                formControlName="fb_provincia" placeholder="seleccione la provincia"
                                [disabled]="!$any(campos).fb_provincia.editable"
                                    (click)="formularioAcciona('PROVINCIA', provincia.id)"
                            -->
                                <mat-option 
                                    *ngFor="let provincia of ta_tec_leng.Node" 
                                    [value]="provincia"
                                >
                                    {{provincia}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div>
                    <mat-form-field hintLabel="Breve descripción de la aplicación y sus funcionalidades">
                        <mat-label>Frameworks Utilizados</mat-label>
                        <textarea 
                            matInput #inputDescripcion
                            formControlName="fb_tec_leng_frameworks" 
                            maxlength="2000" 
                            matAutosizeMinRows=3
                            placeholder="Ingrese la descripción de la configuración"                          
                            type="text" 
                            
                        ></textarea><!-- (keyup)="registroDetalleActualiza(registro, $event.target.value)" -->
                        <mat-hint align="end">{{inputDescripcion.value.length}}/2000</mat-hint>
                    </mat-form-field>
                </div>

            </div>
        </div>
        
        
        <!-- Repositorio    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <div class="seccion">
            <h2>Repositorio</h2>            
            <!-- Nombre del Proyecto   []   -->       
            <div>
            
                <div>
                    <mat-form-field hintLabel="hintLabel Max 20 letras">
                        <mat-label>Nombre del Repositorio</mat-label>
                        <input 
                            matInput #inputTitulo
                            formControlName="fb_inf_repo_nombre" 
                            minlength="6" maxlength="100" 
                            placeholder="Repositorio"  
                        >
                        <mat-hint align="end">{{inputTitulo.value.length}}/100</mat-hint>
                    </mat-form-field>
                </div> 
                <div>
                    <mat-form-field hintLabel="hintLabel Max 20 letras">
                        <mat-label>URL del Repositorio</mat-label>
                        <input 
                            matInput #inputTitulo
                            formControlName="fb_inf_repo_url" 
                            minlength="6" maxlength="100" 
                            placeholder="URL"  
                        >
                        <mat-hint align="end">{{inputTitulo.value.length}}/100</mat-hint>
                    </mat-form-field>
                </div> 
            </div>
        </div>

        
        <!-- Información de la Aplicación    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <div class="seccion">
            <h2>Información de la Aplicación</h2>            
            <!-- Nombre del Proyecto   []   -->       
            <div>
            
                <div>
                    <mat-form-field hintLabel="hintLabel Max 20 letras">
                        <mat-label>URL Principal de la Aplicación</mat-label>
                        <input 
                            matInput #inputTitulo
                            formControlName="fb_inf_repo_nombre" 
                            minlength="6" maxlength="100" 
                            placeholder="Repositorio"  
                        >
                        <mat-hint align="end">{{inputTitulo.value.length}}/100</mat-hint>
                    </mat-form-field>
                </div> 
                <div>
                    <mat-form-field>
                        <mat-label>Endpoint</mat-label>
                        <mat-select 
                            formControlName="fb_inf_info_endPoints" 
                        >
                        <!-- 
                            formControlName="fb_provincia" placeholder="seleccione la provincia"
                            [disabled]="!$any(campos).fb_provincia.editable"
                                (click)="formularioAcciona('PROVINCIA', provincia.id)"
                        -->
                            <mat-option 
                                *ngFor="let provincia of ta_endpoints" 
                                [value]="provincia"
                            >
                                {{provincia}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> 
            </div>
        </div>

           
        
        <!-- Servicios que Consumirá la Aplicación    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <div class="seccion">
            <h2>Servicios que consumirá la aplicación</h2>            
            <!-- Nombre del Proyecto   []   -->      
             
            
            <div>
                
                <div>
                    <mat-slide-toggle formControlName="fb_serv_backend" 
                        class="example-margin">
                        Backends
                    </mat-slide-toggle>
                </div>   
                <div>
                    <mat-slide-toggle formControlName="fb_serv_apisExternas" >
                        APIs Externas
                    </mat-slide-toggle>
                </div>  
                <div>
                    <mat-slide-toggle formControlName="fb_serv_db" >
                        Bases de Datos
                    </mat-slide-toggle>
                </div>   
                <div>
                    <mat-slide-toggle formControlName="fb_serv_cache" 
                        class="example-margin">
                        Caches
                    </mat-slide-toggle>
                </div>  

            </div>
            <hr>
            <br>
            <div>
                <div>
                    <mat-form-field>
                        <mat-label>Tipo de Base de Datos</mat-label>
                        <mat-select 
                            formControlName="fb_serv_db" 
                        >
                            <mat-option 
                                *ngFor="let db of ta_serv_db" 
                                [value]="db"
                            >
                                {{db}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> 
                <div>
                    <mat-form-field hintLabel="hintLabel Max 20 letras">
                        <mat-label>Nombre de la Base de Datos</mat-label>
                        <input 
                            matInput
                            formControlName="fb_serv_db_otro" 
                            placeholder="Detalle"  
                        >
                    </mat-form-field>
                </div> 
            </div>
        </div> 
    
<!-- 
    <div>
        
        
            
            <h2>Servicios que Consumirá la Aplicación</h2>
            

            
            <p>Backends</p>
            
            [Descripción del backend que la aplicación consumirá]
            
            <p>APIs Externas</p>
            
            [Descripción de las APIs externas que se consumirán]
            
            <p>Bases de Datos</p>
            
            Tipo de Base de Datos:
            
            [ ] MySQL
            
            [ ] Oracle
            
            [ ] PostgreSQL
            
            [ ] Otro: []
            
            Nombre de la Base de Datos:
            
            []
            
            
            <p>Caches</p>
            
            Utilizará un sistema de caché:
            
            [ ] Sí
            
            [ ] No
            
            Descripción del sistema de caché (si aplica):
            
            []
            

            <h3>Información de Despliegue</h3>
            
            <p>Ambiente de Despliegue</p>
            
            [ ] Desarrollo
            
            [ ] QA
            
            [ ] Producción
            
            [ ] Otros: []
            
            URL de Despliegue
            []
            
            <h3>Responsables del Proyecto</h3>
            
            <p>Owner/Product Manager/Product Owner</p>
            
            Nombre: []
            
            Contacto: []
            
            <p>Desarrollador(es) Principal(es)</p>
            
            Nombre: []
            
            Contacto: []
            
            Otros Involucrados (QA, DevOps, etc.)
            Nombre: []
            
            Rol: []
            
            Contacto: []
            
            <h3>Permisos Necesarios</h3>
            
            <p>Acceso a Git</p>
            
            Usuarios y sus permisos (lectura/escritura):
            
            
            
            
            <p>Acceso a OpenShift</p>
            Usuarios y permisos:
            
             
            
            <p>Consumo de Servicios</p>
            
            Acceso a través de 3scale o Rutas Públicas
            Tipo de acceso:
            
            [ ] 3scale
            
            [ ] Rutas públicas
            
            <p>Storage</p>
            
            Requiere Storage Local
            [ ] Sí
            
            [ ] No
            
            <p>Comentarios Adicionales</p>
            
            [Espacio para agregar cualquier información adicional relevante]
    </div>
 -->
</div>
<div>
    
    <DNSISa-com-ele-boton
        [input]="['boton', 'positivo', 'aceptar', 'Enviar requerimientos']"        
    >
    </DNSISa-com-ele-boton>
   <!--  <div 
        class="boton"
        [routerLink]="['']" 
    >
    Enviar datos
    </div> -->
</div>



