/* You can add global styles to this file, and also import other style files */

/* Importamos la ROBOTO que es la piola tipografia actual del SISA */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './assets/sisafont.css';

/* 
@import 'assets/sisafont.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,700,700i,900,900i&display=swap'); 
*/


/* 
IDENTIDAD

Colores

azul principal: #242c4f;
azul secundario: #45658d;
amarillo: #e7ba61;

*/
html, body { height: 100%; }

html { 
    background-color: #242c4f;
}

body { 
    margin: 0; 
    font-family: Montserrat, "Helvetica Neue", sans-serif; 
}

h1, h2, h3, h4, h5, h6{		
    font-family: Lora, "Helvetica Neue", sans-serif; 
    /* color: white; */
}

ul li { list-style: none; }



/*  
============================================================
UTILIDADES
*/

.ut_botonera{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin: 20px 0px;
}

/* UL */
.ut_listaHorizontal{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 0px;
}

.ut_fl_hor_centro{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}


/*  
============================================================
FORMULARIOS
*/


.formContenedor{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formContenedor section{ 
    display: flex; 
    flex-direction: column;
    gap: 20px; 
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: #fff;
}

.formContenedor section > h2{ margin-top: 0px; }

.formContenedor div.HOR,
.formContenedor div.VER{ display: flex; gap: 20px; } 
.formContenedor div.HOR{ flex-direction: row !important; width: 100%; }
.formContenedor div.VER{ flex-direction: column !important; } 


.formContenedor mat-form-field{ width: 100%; }

/*  
============================================================
Varios
*/

.intContAncho{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
	position: relative;  
    background-color: #242c4f;
    color: #fff;
}
.intContAncho > .contenido{
    display: flex;
    align-self: center;
    justify-content:space-between;    
	position: relative; 
	width: 1024px; 
    margin: 20px auto;
    /* 
    border: dotted pink 1px;
    display: flex;
    background-color: lightcoral;
    background-color: yellowgreen; 
    */
}
/* 
.intContAncho > .contenido > *{
    border: dotted pink 1px;
}
*/

.logoDnsisa{
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: #242c4f;
    color: #fff;
}
.logoDnsisa > *{
    margin: 0px;
    padding: 0px;
    color: #fff;
}

/* 
.boton{
    display: inline-flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
    border: rgb(221, 221, 221) 1px solid;
} 
*/
