.buscador{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 40px 0px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: lightgray;
}

.equipo{ 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    gap: 10px; 
    width: 100%;
    margin-top: 40px; 
}

/* 
.equipo{ 
    display: flex; 
    flex-direction: row; 
    gap: 10px; 
    width: 100%;
    margin-top: 40px; 
}

*/
.equipo > .miembro{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(231, 186, 97, .2);
    border: 1px solid rgba(0, 0, 0, .2);
}
.miembro > div{ display: flex; flex-direction: column; }
.miembro > div:first-child{
    justify-content: center;
    min-width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #242c4f;
    /* border: 1px solid rgba(0, 0, 0, .2); */
}
.miembro > div:first-child > span{ 
    display: flex;
    align-self: center;
    color: white; 
    font-weight: bold; 
    font-size: 38px;
}

.miembro > div:last-child > *{ margin: 0px; padding: 0px; }

.miembro > div:last-child > p{ font-size: 12px; margin-top: 8px; }
.miembro > div:last-child > p.direccion{ font-size: 14px; font-weight: bold; }
.miembro > div p,
.miembro > div h4{ font-family: Montserrat !important; }

.inputApellido > *{ width: 350px; }

/* 
/deep/ .selecFuncion .mat-mdc-optgroup{ background-color: #45658d !important; }
/deep/ .selecFuncion .mat-mdc-optgroup .mdc-list-item__primary-text{ color: #fff !important; }
.selecFuncion .grupo.mat-mdc-optgroup{ background-color: #45658d !important; color: #45658d !important; }
.selecFuncion .grupo .mdc-list-item__primary-text{ color: #fff !important; }
.selecFuncion span.mat-mdc-optgroup-label{ background-color: #45658d !important;; }
.selecFuncion{ background-color: #45658d !important; color: yellow !important; }
*/
/deep/ .selecFuncion .mdc-list-item__primary-text:not(:first-child){  color: #999 !important; }