

<section>
    <p>
        Nuestro propósito es disminuir brechas de calidad en la atención de la salud, implementado sistemas de información que identifiquen las características y necesidades de la población, permitan el seguimiento longitudinal e integral de las personas a lo largo de todo el sistema de salud y provean herramientas innovadoras a los profesionales de la salud y a los pacientes.
    </p>
</section>





<section>
    
    <h1>
    Equipo
    </h1>
    
    <p>
    Personal de los equipos de salud, profesionales, técnicos, administrativos, autoridades, que desempeñen labor asistencial hospitalaria o en centros de salud. La propuesta está dirigida fundamentalmente a todas las profesiones de los equipos de salud, independientemente del puesto de servicio (administrativo, gestión, asistencial). Pueden participar profesionales de ámbito público y/o privado. No requiere requisitos o conocimientos previos.
    </p>

    <DNSISa-com-ele-boton
        [routerLink]="['equipo']" 
        [input]="['boton', 'general', 'cmdb_nucleofamiliar', 'Equipo DNSISa']"        
    >
    </DNSISa-com-ele-boton>

</section>




<section>

    <h1>Autogestion</h1>

    <p>
    Los horarios de atención son: de lunes a viernes de 9 a 21 hs. Sábados, domingos y feriados: 9 a 18 hs.
    </p>
    <p>
    También se pueden comunicar con el 0800 Salud Sexual por mail: <strong>saludsexual@msal.gov.ar</strong>
    </p>   

    <DNSISa-com-ele-boton
        [routerLink]="['autogestion/formularios']" 
        [input]="['boton', 'general', 'editar', 'Formulario de Creación de Repositorios y Aplicaciones']"        
    >
    </DNSISa-com-ele-boton>

</section>



<section>
    
    <h3>Recursos</h3>
    <DNSISa-com-ele-botonera
        [input]="[
            ['boton', 'general', 'buscar', 'Materiales para equipos de salud'],
            ['boton', 'general', 'buscar', 'Materiales para desarrolladores']
        ]"
    ></DNSISa-com-ele-botonera>

</section>

